body {
    margin: 15% auto;
    background-color: #ffcb32;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}